<!-- <div class="main-container">
    <nav>
        <ul>
        <li routerLink="">Home</li>
            <li routerLink="./blog">Docs</li>
            <li routerLink="./blog">About</li>
            <li routerLink="./auth">Login</li>
        </ul>
    </nav>
</div> -->
<div class="main-container">
    <nav>
      <ul>
        <li routerLink="">Home</li>
        <li routerLink="/blog/docs">Docs</li>
        <li routerLink="/blog/about">About</li>
        <li routerLink="/auth">Login</li>
      </ul>
    </nav>
  </div>
